.droparea {
    position: relative;
    float: left;
    width: 110px;
    height: 110px;
    border: dashed 5px #777;
    border-radius: 20px;
    background-color: #ddd;
}

.dropzone {
    padding: 16px 0;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

